version: "2.4"

services:
  ollama:
    build:
      context: .
      dockerfile: ./Dockerfiles/Dockerfile.ollama
    container_name: ollama
    ports:
      - "11434:11434"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 10s
      timeout: 5s
      retries: 3

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8000:8000"
    volumes:
      - chroma-data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - PERSIST_DIRECTORY=/chroma/chroma
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 10s
      timeout: 5s
      retries: 3

  ingestion:
    build:
      context: .
      dockerfile: ./Dockerfiles/Dockerfile.ingestion
    container_name: rag-ingestion
    depends_on:
      chromadb:
        condition: service_healthy
    volumes:
      - ./pdfs:/app/pdfs
    environment:
      - CHROMA_HOST=chromadb
      - CHROMA_PORT=8000
    command: python ingest.py

  rag-api:
    build:
      context: .
      dockerfile: ./Dockerfiles/Dockerfile.api
    container_name: rag-api
    depends_on:
      chromadb:
        condition: service_healthy
      ollama:
        condition: service_healthy
    ports:
      - "8001:8000"
    environment:
      - CHROMA_HOST=chromadb
      - CHROMA_PORT=8000
      - OLLAMA_URL=http://ollama:11434
    volumes:
      - sqlite-data:/app/data
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus_llmops.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      rag-api:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:9090/-/healthy"]
      interval: 30s
      timeout: 10s
      retries: 3

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
        # Your existing provisioning config
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      # Dashboard JSON file
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      # Grafana data
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      prometheus:
        condition: service_healthy

volumes:
  chroma-data:
  sqlite-data:
  grafana-data:
